@import "tailwindcss";
@import "@nuxt/ui";

.fade-up-enter-active,
.fade-up-leave-active {
  transition: all 0.6s ease;
}
.fade-up-enter-from {
  opacity: 0;
  transform: translateY(20px);
}
.fade-up-enter-to {
  opacity: 1;
  transform: translateY(0);
}
.fade-up-leave-from {
  opacity: 1;
  transform: translateY(0);
}
.fade-up-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

@theme static{
  --color-primary: #0B2139; /*bunlar bg-primary, text-primary, fill-primary gibi classlar oluşturuyor */
  --color-secondary: #FAA23E; /*aynı zamanda color typeına uygun isim verdiysek color="secondary" de çalışıyor */
  --color-info: #36827F;
  --color-success: #36827F;
  --color-custom: #C5CBD3;
  /* neutral rengini primary'e göre otomatik ayarlıyor custom oluşturmana gerek yok*/

}



/* .primary{
  color:#0B2139; 
}

.secondary {
  color:#FAA23E; 
} */